@import url(https://fonts.googleapis.com/css?family=Raleway:100);

body {
    margin: 0 0 0 0;
    color: lightgray;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.Header, .Panel1, .Cat, .Footer {
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: gray;
    justify-content: space-around;
    align-items: center;
}

.Header h3 {
    text-transform: uppercase;
}

.Panel1 {
    text-transform: uppercase;
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    background-color: gray;
    flex: 1;
}

.Panel1 h3 {
    padding: 10px;
    font-size: 4em;
}

.Header {
    flex-direction: row;
    background-color: dimgray;
    color: whitesmoke;
}

.Header ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.Header ul li a {
    padding: 14px 16px;
}

.CatContainer {
    background-color: gray;
    display: flex;
    justify-content: center;
}

.Cat {
    padding: 10px;
    max-width: 1000px;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.Cat h1 {
    font-size: 3em;
}

.Footer {
    display: flex;
    flex-direction: row;
    background-color: dimgray;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}